@use "sass:color";

@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown {
    min-height: 2rem;

    h1 { @apply font-semibold text-4xl my-3; }
    h2 { @apply font-semibold text-3xl my-3; }
    h3 { @apply font-semibold text-2xl my-3; }
    h4 { @apply font-semibold text-xl my-2; }
    h5 { @apply font-semibold text-lg my-1; }
    h6 { @apply font-semibold; }
    a { @apply font-bold underline; }
    table {
        @apply w-full border-separate rounded border-spacing-0;
        th, td { @apply border-zinc-300 dark:border-zinc-400; }
        th {
            @apply text-left border-l border-t;
            &:first-child { @apply rounded-tl; }
            &:last-child { @apply rounded-tr border-r; }
        }
        td, th { @apply px-4 py-1; }
        td {
            @apply bg-zinc-50 dark:bg-zinc-800 border-l border-t;
            &:last-child { @apply border-r; }
        }
        tr:last-child td {
            @apply border-b;
            &:first-child { @apply rounded-bl; }
            &:last-child { @apply rounded-br; }
        }
    }

    hr { @apply my-12; }

    pre > code {
        font-size: 95% !important;
    }

    code:not(pre > code) {
        @apply font-bold text-sm;
        &::before {
            content: '`';
        }
        &::after {
            content: '`';
        }
    }
    
    p {
        @apply my-2 leading-7;
    }

    ol:not(.contains-task-list) {
        @apply list-decimal ml-5;
    }
    ul:not(.contains-task-list) {
        @apply list-disc ml-5;
    }
    li {
        @apply my-2;
        & > p:first-child {
            // dirty fix for a rendering issue of <li><p>text<p></li> being rendered as 
            // ```
            // -
            //   text
            // ```
            // only when the content is rendered for the first time.
            @apply inline;
        }
    }

    &.waiting > *:last-child::after {
        // cursor animation
        content: "";
        @apply border-l-8 border-l-zinc-600 dark:border-l-zinc-100 [animation:cursor_1s_infinite];
    }
}

@keyframes cursor {
    0% { opacity: 1; }
    50% { opacity: 1; }
    51% { opacity: 0; }
    100% { opacity: 0; }
}

dialog::backdrop,
dialog + .backdrop  // polyfill
{
    background: #0000004f;
}

// Toastify js 1.12.0, https://github.com/apvarun/toastify-js, MIT license, Copyright (C) 2018 Varun A P
.toastify {
    @apply shadow-light dark:shadow-dark px-10 [&:has(.toast-close)]:pr-16 py-3 text-white inline-block fixed opacity-0 rounded z-50 right-4 top-[-150px] whitespace-nowrap overflow-x-hidden overflow-ellipsis cursor-pointer;
    background: linear-gradient(135deg, #c8695d, #b04c30);
    &.info {
        background: linear-gradient(135deg, #979797, rgb(127, 127, 127));
    }
    transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1);
    max-width: calc(50% - 20px);
    &.on {
        opacity: 1;
    }
    .toast-close {
        @apply absolute right-0 px-6 h-full top-0 [font-family:inherit] hover:bg-white hover:bg-opacity-10;
    }
}

@media only screen and (max-width: 360px) {
    .toastify-right {
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        max-width: fit-content;
    }
}

dialog {
    border: none !important;
}

pre code.hljs{display:block;overflow-x:auto;padding:1em}
code.hljs{padding:3px 5px}
.hljs{color:#d0d0d0;background:#282c34}
.hljs-comment,.hljs-quote{color:#5cac56;}
.hljs-doctag,.hljs-formula,.hljs-keyword{color:#c678dd}
.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e06c75}
.hljs-literal{color:#56b6c2}
.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#98c379}
.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#d19a66}
.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}
.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#e6c07b}
.hljs-emphasis{font-style:italic}
.hljs-strong{font-weight:700}
.hljs-link{text-decoration:underline}
