@use "sass:color";

@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown {
    h1 { @apply font-semibold text-4xl my-3; }
    h2 { @apply font-semibold text-3xl my-3; }
    h3 { @apply font-semibold text-2xl my-3; }
    h4 { @apply font-semibold text-xl my-2; }
    h5 { @apply font-semibold text-lg my-1; }
    h6 { @apply font-semibold; }
    a { @apply font-bold underline; }
    table {
        @apply w-full;
        th {
            @apply rounded-lg text-left;
        }
        td, th {
            @apply border border-zinc-300 px-4 py-1;
        }
        td {
            @apply bg-zinc-50;
        }
    }

    hr { @apply my-12; }

    pre > code {
        font-size: 95% !important;
    }

    code:not(pre > code) {
        @apply font-bold text-sm;
        &::before {
            content: '`';
        }
        &::after {
            content: '`';
        }
    }
    
    p {
        @apply my-2 leading-7;
    }

    ol, li {
        line-height: 1;
    }
    ol:not(.contains-task-list) {
        @apply list-decimal ml-5;
    }
    ul:not(.contains-task-list) {
        @apply list-disc ml-5;
    }
    li {
        @apply my-2;
    }
}

@keyframes cursor {
    0% { opacity: 1; }
    50% { opacity: 1; }
    51% { opacity: 0; }
    100% { opacity: 0; }
}

dialog::backdrop {
    background: #0000004f;
}

pre code.hljs{display:block;overflow-x:auto;padding:1em}
code.hljs{padding:3px 5px}
.hljs{color:#d0d0d0;background:#282c34}
.hljs-comment,.hljs-quote{color:#5cac56;}
.hljs-doctag,.hljs-formula,.hljs-keyword{color:#c678dd}
.hljs-deletion,.hljs-name,.hljs-section,.hljs-selector-tag,.hljs-subst{color:#e06c75}
.hljs-literal{color:#56b6c2}
.hljs-addition,.hljs-attribute,.hljs-meta .hljs-string,.hljs-regexp,.hljs-string{color:#98c379}
.hljs-attr,.hljs-number,.hljs-selector-attr,.hljs-selector-class,.hljs-selector-pseudo,.hljs-template-variable,.hljs-type,.hljs-variable{color:#d19a66}
.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-symbol,.hljs-title{color:#61aeee}
.hljs-built_in,.hljs-class .hljs-title,.hljs-title.class_{color:#e6c07b}
.hljs-emphasis{font-style:italic}
.hljs-strong{font-weight:700}
.hljs-link{text-decoration:underline}
